@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Mont;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Alex;
  src: url("./Fonts/Alexana.ttf");
}
body {
  background: linear-gradient(140deg, #222, #2e2e2e, #3a3a3a, #222);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
}
* {
  @apply m-0 p-0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.hero p {
  font-family: Alex;
  /* font-weight: 500; */
}
h3,
h3 > span,
.hero span {
  font-family: Mont;
}
.divider span,
input::placeholder {
  font-family: Mont;
  font-weight: 300;
  color: #555;
  font-size: 0.85rem;
  text-shadow: 0 0 0.5px #555;
}
input {
  font-family: Mont;
  color: #fff;
  font-size: 0.9rem;
}
.btn {
  background: linear-gradient(183deg, #056bca 0%, #7404dd 95%);
  font-family: Mont;
  text-shadow: 0 0 1px #fafafa;
}
.btn:focus,
.btn:focus-visible,
.btn:focus-within {
  outline: none;
}
.signup span {
  font-family: Mont;
  font-weight: 300;
  @apply tracking-tighter italic text-zinc-400 text-[0.6rem] sm:text-[0.7rem];
}
.signup > span:first-of-type {
  @apply pt-7;
}
.signup > span > span {
  color: #d62828;
}
.trans {
  @apply transition-all ease-in-out;
}
.fadePill {
  background: linear-gradient(90deg, #292929 20%, #667 80%);
}
.fadePill.right {
  background: linear-gradient(-90deg, #292929 20%, #667 80%);
}

.pillBtn {
  @apply h-full w-full transition-all
   font-sans rounded rounded-[.74rem] tracking-tight 
  font-semibold p-4 mt-3 hover:tracking-normal duration-300;
}
/* GOOGLE PROVIDER EDITS */
div[id$="-wrapper"] {
  @apply mt-2.5;
}
/*
.divider span {
}
/* XTRA CLASSES 
.hero img:hover {
  filter: invert(1) drop-shadow(0 0 2em #646cffaa);
}
.hero img {
  will-change: filter;
  transition: filter 300ms;
}
 @apply ; 
 */
